<div id="loginPage">
  <div class="login-content col-sm-3 col-xs-12">
      <img src="../../assets/voffislogo.png" alt="brandlogo" class="img-fluid">
  </div>
  <div class="login-content col-sm-3 col-xs-12">
          <div class="row pt-5">
              <form class="example-form pt-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label><b>USER NAME</b></mat-label>
                    <input matInput  autocomplete="false">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label><b>PASSWORD</b></mat-label>
                      <input matInput autocomplete="false">
                  </mat-form-field>
                  <div class="loginbtn">
                      <button type="button" class="active" (click)="login()">LOGIN</button>
                      <button type="button">SIGNUP</button>
                  </div>
                </form>
          </div>                
  </div>
</div>