#loginPage {
    background: url('../../assets/loginScreen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    // align-items: start;
    align-content: flex-end;
  
  }
  
  .login-content {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    flex: 1 0 auto;
    width: 28%;
    margin-right: 171px;
  }
  
  .login-content:first-child {
    background-image: url('../../assets/loginHeaderBg.png');
    height: 31.1%;
  }
  
  .login-content:last-child {
    background-image: url('../../assets/loginBottomBg.png');
    height: 62%;
  }
  
  
  .login-content:first-child img {
    width: 52%;
    margin-top: 25%;
  }
  
  .login-content mat-label {
    color: #5665ae;
  }
  
  .mat-form-field-should-float.mat-focused mat-label {
    color: white !important;
  }
  
  ::ng-deep.mat-form-field-ripple {
    background-color: #fff !important;
    ;
  }
  
  .loginbtn button {
      background: transparent;
      padding: 18px 25px;
      width: 60%;
      line-height: 1;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      border: 1px solid #fff;
      text-transform: capitalize;
      border-radius: 50px;
      transition: all 0.5s ease;
      margin-bottom: 5px;
      margin-top: 24px;
  }
  
  .loginbtn button.active, .loginbtn button:hover{
    background: #fff!important;
    color: #2a3994;
    border:none 
  }

  form{
    padding: 0 60px;
    margin-top: 120px;
  }

  .example-full-width{
      display: block;
      width: 57%;
      margin: 0 auto 19px;
  }