<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">fact_check
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Role Operations Mapping
        </span>
      </div>
      
    </div>
    <!-- / APP TITLE -->

    <!-- SEARCH -->
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

      <div class="search-wrapper mt-16 mt-sm-0">

        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input placeholder="Search for a contact">
        </div>

      </div>

    </div>
    <!-- / SEARCH -->

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content">
        <table mat-table [dataSource]="dataSource" class="table">

          <ng-container matColumnDef="Screen">
            <th mat-header-cell *matHeaderCellDef>Screen Name</th>
            <td mat-cell *matCellDef="let role">
              <p class="text-truncate font-weight-600">{{role.Screen}}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="list1">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Operations</th>
            <td mat-cell *matCellDef="let role" fxHide fxShow.gt-sm>
              <mat-checkbox [(ngModel)]="list1">Add</mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="list2">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Operations</th>
            <td mat-cell *matCellDef="let role" fxHide fxShow.gt-sm>
              <mat-checkbox [(ngModel)]="list1">Edit</mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="list3">
            <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Operations</th>
            <td mat-cell *matCellDef="let role" fxHide fxShow.gt-sm>
              <mat-checkbox [(ngModel)]="list1">Delete</mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let role; columns: displayedColumns;" class="contact" (click)="Contact(role)"
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
          </tr>
        </table>



      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </div>
  <!-- / CONTENT-->

</div>