// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

app-login .mat-content {
    padding-left: 8px !important;
}

app-login .login-content .mat-form-field-underline {
    background: #5665ae !important;
}

app-login .login-content .mat-form-field-should-float.mat-focused .mat-form-field-underline {
    background: white !important;
}